





repos:
# A collection of general-purpose pre-commit hooks.
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=200"]

# Scan for secrets using gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks
        args: [protect, --verbose, --redact, --staged]
        stages: [pre-commit]

# Fix common misspellings in text files. It's designed primarily for checking misspelled words in source code
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell

# Ruff: An extremely fast Python linter, formatter, and more.
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.9
    hooks:
      # Run the linter.
      - id: ruff-check
        types_or: [ python, pyi ]
        args: [ --fix --config=pyproject.toml]
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi ]
        args: [--config=pyproject.toml]
